.homeContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* height: 90vh; */
  max-width: 1400px;
  padding: 30px 30px;
  
}

.homeContainerText {
  max-width: 45%;
  color: white;
}

.homeContainerText h1 {
  font-size: 60px;
  font-weight: 700;
}

.homeContainerText h3 {
  color: transparent;
  -webkit-text-stroke: 0.4px white;
  font-size: 35px;
  background-image: linear-gradient(white, #f9f5eb);
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  background-position: 0 0;
  animation: homeBgText 6s linear infinite;
  animation-delay: 2s;
}

.homeContainerText h3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  border-right: 2px solid #0a2647;
  z-index: -1;
}

.homeContainerText p {
  font-size: 20px;
  /* margin-top: 0.5rem; */
}

.buttonContainer {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32rem;
  padding: 1rem 4rem;
  gap: 2rem;
}

.buttonContainer a {
  position: relative;
  text-decoration: none;
  border: 0.5px solid white;
  padding: 1rem 2rem;
  color: inherit;
  font-weight: 500;
  width: 15rem;
  display: flex;
  align-self: center;
  justify-content: center;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 1.5rem;
  cursor: pointer;
}

.buttonContainer a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #205295;
  z-index: -1;
  height: 100%;
  width: 0;
  transition: 0.5s;
}

.buttonContainer a:hover::before {
  width: 100%;
}

.homeContainerImage {
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  background-color: #205295;
  object-fit: contain;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
}
.homeContainerImage img {
  width: 25rem;
  height: 25rem;
  object-fit: cover;
  border-radius: 50%;
}

/* KEYFRAMES ANIMATION */
@keyframes homeBgText {
  0%,
  10%,
  100% {
    background-position: -40rem 0;
  }
  65%,
  85% {
    background-position: 0 0;
  }
}

/* MEDIA QUERY */
@media screen and (max-width: 1024px) {
  .homeContainer {
    height: 100vh;
    max-width: 1400px;
    padding: 0 30px;
  }
  
  .homeContainerText {
    max-width: 50%;
    height: 20rem;
    color: white;
  }
  
  .homeContainerText h1 {
    font-size: 50px;
    font-weight: 700;
  }
  
  .homeContainerText h3 {
    font-size: 30px;
  }
  
  .homeContainerText p {
    font-size: 18px;
  }
  .homeContainerImage {
    width: 20rem;
    height: 20rem;

  }
  .homeContainerImage img {
    width: 20rem;
    height: 20rem;
  }
}
@media screen and (max-width: 840px) {
  .homeContainerText h1 {
    font-size: 40px;
    font-weight: 700;
  }
  .buttonContainer {
/* background-color: red; */
/* margin-top: -1rem; */
  }
}
@media screen and (max-width: 700px) {
  .homeContainerText h1 {
    font-size: 35px;
    font-weight: 700;
  }  
  .homeContainerText h3 {
    font-size: 25px;
  }
  
  .homeContainerText p {
    font-size: 16px;
  }
  .homeContainerImage {
    width: 16rem;
    height: 16rem;

  }
  .homeContainerImage img {
    width: 16rem;
    height: 16rem;
  }
}
@media screen and (max-width: 560px) {
  .homeContainer {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    height: 80vh;
    margin-top: 2rem;
  }
  .homeContainerText {
    max-width: 100%;
    height: 28rem;
    color: white;
  }
  .homeContainerImage {
    width: 16rem;
    height: 16rem;
  }
  .buttonContainer {
    width: 30rem;
    padding: 1rem 4rem;
    gap: 2rem;
  }
  
.buttonContainer a {
  padding: 1rem 1rem;
  width: 13rem;
  font-size: 13px;
  margin-top: 1rem;
  cursor: pointer;
}
}
@media screen and (max-width: 460px) {
  .homeContainer {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    height: 90vh;
    margin-top: 2rem;
  }
  .homeContainerText {
    max-width: 100%;
    height: 26rem;
    color: white;
  }
  .homeContainerImage {
    width: 16rem;
    height: 16rem;
  }
  .buttonContainer {
    display: flex;
    flex-direction: column;
    width: 22rem;
    padding: 1rem 4rem;
    gap: 1rem;
  }
}
@media screen and (max-width: 360px) {
  .homeContainer {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    height: 80vh;
    margin-top: 2rem;
  }
  .homeContainerText {
    max-width: 100%;
    height: 26rem;
    color: white;
  }
  .homeContainerImage {
    width: 11rem;
    height: 11rem;
  }
  .homeContainerImage img {
    width: 11rem;
    height: 11rem;
  }
  .buttonContainer {
    display: flex;
    flex-direction: column;
    width: 16rem;
    /* height: 9rem; */
    padding: 1rem 4rem;
    gap: 0;
  }
}
@media screen and (max-width: 320px) {
  .buttonContainer {
    display: flex;
    flex-direction: column;
    width: 13rem;
    /* height: 9rem; */
    margin-top: -.5rem;
    padding: 1rem 4rem;
    gap: 0;
  }
  .buttonContainer a {
    padding: 1rem 0rem;
    width: 10rem;
    font-size: 13px;
    margin-top: .5rem;
    cursor: pointer;
  }
  .homeContainerText {
    max-width: 100%;
    height: 19rem;
    color: white;
  }
}
/* @media screen and (max-width: 487px) {
  .homeContainer {
    margin-top: -1rem;

  }
  .homeContainerText {
    max-height: 95%;
    background-color: purple;
  }
  .homeContainerText {
    max-width: 100vw;
    padding: 10px;
    color: white;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .buttonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 10rem;
    gap: 0rem;
  }
  .homeContainerImage {
    width: 15rem;
    height: 15rem;
    margin-bottom: -2rem;
  }
  .homeContainerImage img {
    width: 15rem;
    margin-bottom: -2rem;
    height: 15rem;
  }
  .homeContainerText p {
    font-size: 16px;
  }
} */

/* @media screen and (max-width: 360px) {
  .homeContainerImage {
    width: 10rem;
    height: 10rem;
  }
  .homeContainerImage img {
    width: 10rem;
    height: 10rem;

  }

} */
