@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');


*,
*::after,
*::before{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}
body{
    background-color: #0A2647;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;

}
a{
  text-decoration: none;
  color: inherit;
}
/* #01080f */